*{
    margin: 1;
    padding: 1;

}

.cabecalho {
    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-around;
}

.cabecalho-img {

}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
}